@import url('https://fonts.googleapis.com/css2?family=Suwannaphum:wght@100;300;400;700;900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

  body {
    font-family: "Suwannaphum", serif;
    font-weight: 100;
    font-style: normal;
  }

  html,
  body {
    overflow-x: clip;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }